.row {
    display: flex;
}

.column-left {
    flex: 70%;
}

.column-right {
    flex: 30%;
}

.primary-tariff {
    width: 75%;
    display: inline-block;
    margin: 20px;
    border: 2px solid;
    vertical-align: top;
    padding: 3px;
}

.tariff {
    display: inline-block;
    margin: 20px;
    border: 2px solid;
    vertical-align: top;
    padding: 3px;
}

.right-align-text{
    text-align: right;
}

.left-align-text {
    text-align: left;
}

.price-text{
    font-weight: bold;
    font-size: 30px;
}

.price-text-results {
    font-weight: bold;
    font-size: 18px;
    vertical-align: bottom;
    text-align: right;
    width: 50%;
}

.li-checked{
    color: red;
    font-weight: bold;
    float: left;
}

.ul-style {
    list-style-type: none;
    padding: 0;
}

.tariff-description {
    font-size: 12px;
}

.bottom-indent{
    margin-bottom: 20px;
}

.item {
    display: inline-block;
}

.text-length{
    width: 150px;
}

.selected-products-height{
    height: 150px;
}
