@page "/"
@using Usp.App.Logic.Services.Abstractions
@inject ISellingPointService SellingPointService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnInitialized()
    {
        var res = SellingPointService.GetSellingPoints();
    }
}
