@page "/"
@rendermode InteractiveServer
@using Usp.App.Logic.Services.Abstractions
@using Usp.Models
@using Usp.App.Components.Pages.Controls
@inject ISellingPointService SellingPointService;

<div class="row">
    <div class="column-left">
        @if (_sellingPoints != null)
        {
            <div>
                @foreach (var sellingPoint in _sellingPoints.Where(s => s.IsPrimary == true))
                {
                    <Tariff TextAlignCss="right-align-text" CssClass="primary-tariff" Model="sellingPoint" OnTariffSelected="Selected"></Tariff>
                }
            </div>
            <div>
                @foreach (var sellingPoint in _sellingPoints.Where(s => s.IsPrimary == false))
                {
                    <Tariff TextAlignCss="left-align-text" CssClass="tariff" Model="sellingPoint" OnTariffSelected="Selected"></Tariff>
                }
            </div>
        }
    </div>
    <div class="column-right">
        <Results Models="_selectedPoints" />
    </div>
</div>

@code
{
    private List<SellingPointViewModel> _sellingPoints;
    private List<SellingPointViewModel> _selectedPoints = new List<SellingPointViewModel>();

    protected override async Task OnInitializedAsync()
    {
        _sellingPoints = await SellingPointService.GetSellingPoints();
    }

    private void Selected(SellingPointViewModel model)
    {
        var modelInList = _selectedPoints.FirstOrDefault(m => m.Id == model.Id);

        if (modelInList != null)
        {
            _selectedPoints.Remove(modelInList);
        }
        else if (modelInList is null)
        {
            _selectedPoints.Add(model);
        }
    }
}
